#leftpanel {
    background-color: #646464;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 250px;
}

#leftpanel__user {
    color: white;
    font-weight: 100;
}

#leftpanel__img {
    height: 55px;
    width: 55px;
}

.form__title-create {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.form__title-create input {
    background-color: transparent;
    border: none;
    color: white;
    font-family: "Geologica", sans-serif;
    font-size: 18px;
    margin-top: 10px;
    padding: 10px 0;
    text-align: center;
    width: 100%;
}

.form__title-create input:focus {
    outline: none;
}

#form__create {
    background-color: #E2937B;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 25px;
    padding: 10px;
}

.leftpanel__user-logout {
    padding: 20px;
}

.leftpanel__img-user {
    align-items: center;
    display: flex;
}

#leftpanel__user {
    padding-left: 12px;
}

.leftpanel__user-logout button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    display: block;
    font-family: "Geologica", sans-serif;
    font-size: 20px;
    font-weight: 100;
    margin: 0 auto;
}

.leftpanel__symbol-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
